body {
    background-color: white;
}

div {
    background-color: white;
}

.inputField {
    margin-left:26%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: white;
    border-radius: 12px;
}

.startGameButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:40%;
    width: 400px;
    height: 50px;
    border: 6px solid black;
    padding: 60px;
    font-size: 2em;
    background-color: rgb(51, 143, 51);
    border: 2px solid rgb(51, 143, 51);;
    border-radius: 12px;
}

.errorMessage {
    margin-left:45%;
    height: 1em;
    font-family: Arial;
    color: red;
}